{
  "swagger": "2.0",
  "info": {
    "title": "LV_monday_com_Actions",
    "description": "Power Automate custom connector for friendly monday.com actions. Public actions use distinct paths and custom connector code rewrites each request to the monday.com GraphQL endpoint.",
    "version": "2.0.0"
  },
  "host": "api.monday.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Enter your monday.com API token when creating the connector connection. The token is supplied by Power Automate in the Authorization header and is not hard-coded or stored in this file."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/get-item-details": {
      "post": {
        "summary": "Get monday item details",
        "description": "Returns the item id, item name, board details, group details, and column values for a monday.com item.",
        "operationId": "GetMondayItemDetails",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMondayItemDetailsRequest"
            },
            "x-ms-summary": "Get Item Details Request",
            "description": "Get Item Details Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Flattened monday.com item details response with direct dynamic content fields.",
            "schema": {
              "$ref": "#/definitions/GetMondayItemDetailsResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/get-item-column-value": {
      "post": {
        "summary": "Get monday item column value",
        "description": "Returns one requested monday.com item column value with a friendly title, text value, raw column JSON, and raw response JSON.",
        "operationId": "GetMondayItemColumnValue",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMondayItemColumnValueRequest"
            },
            "x-ms-summary": "Get Item Column Value Request",
            "description": "Get Item Column Value Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Friendly monday.com item column value response.",
            "schema": {
              "$ref": "#/definitions/GetMondayItemColumnValueResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/create-update": {
      "post": {
        "summary": "Create monday item update/comment",
        "description": "Creates an update/comment on a monday.com item.",
        "operationId": "CreateMondayItemUpdate",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMondayItemUpdateRequest"
            },
            "x-ms-summary": "Create Update Request",
            "description": "Create Update Request"
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing the created update id.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/change-status": {
      "post": {
        "summary": "Change monday status column",
        "description": "Changes a monday.com status column by friendly label. If Column ID is blank, the connector uses the default monday status column id: status.",
        "operationId": "ChangeMondayStatus",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMondayStatusRequest"
            },
            "x-ms-summary": "Change Status Request",
            "description": "Change Status Request"
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing the updated item id.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/change-column-value": {
      "post": {
        "summary": "Change monday column value",
        "description": "Changes any monday.com column value using a monday-compatible JSON string for the target column type.",
        "operationId": "ChangeMondayColumnValue",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMondayColumnValueRequest"
            },
            "x-ms-summary": "Change Column Value Request",
            "description": "Change Column Value Request"
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing the updated item id.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/create-item": {
      "post": {
        "summary": "Create monday item",
        "description": "Creates a monday.com item, optionally in a specific group and with monday-compatible column values JSON.",
        "operationId": "CreateMondayItem",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMondayItemRequest"
            },
            "x-ms-summary": "Create Item Request",
            "description": "Create Item Request"
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing the created item.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/list-workspaces": {
      "post": {
        "summary": "List monday workspaces",
        "description": "Returns monday.com workspaces as array-friendly id/name objects for dropdowns.",
        "operationId": "ListMondayWorkspaces",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns monday.com workspaces as array-friendly id/name objects for dropdowns.",
            "schema": {
              "$ref": "#/definitions/MondayDropdownListResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/list-boards": {
      "post": {
        "summary": "List monday boards",
        "description": "Returns monday.com boards for dropdowns, optionally filtered by workspace ID.",
        "operationId": "ListMondayBoards",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ListMondayBoardsRequest"
            },
            "x-ms-summary": "List Boards Request",
            "description": "List Boards Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns monday.com boards for dropdowns, optionally filtered by workspace ID.",
            "schema": {
              "$ref": "#/definitions/MondayDropdownListResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/list-board-groups": {
      "post": {
        "summary": "List monday board groups",
        "description": "Returns groups for a selected monday.com board for dropdowns.",
        "operationId": "ListMondayBoardGroups",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMondayBoardGroupsRequest"
            },
            "x-ms-summary": "List Board Groups Request",
            "description": "List Board Groups Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns groups for a selected monday.com board for dropdowns.",
            "schema": {
              "$ref": "#/definitions/MondayDropdownListResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/list-board-columns": {
      "post": {
        "summary": "List monday board columns",
        "description": "Returns columns for a selected monday.com board. This action is visible for troubleshooting dropdown configuration and column IDs.",
        "operationId": "ListMondayBoardColumns",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMondayBoardColumnsRequest"
            },
            "x-ms-summary": "List Board Columns Request",
            "description": "List Board Columns Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns columns for a selected monday.com board. This action is visible for troubleshooting dropdown configuration and column IDs.",
            "schema": {
              "$ref": "#/definitions/MondayDropdownListResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/list-board-items": {
      "post": {
        "summary": "List monday board items",
        "description": "Returns items for a selected monday.com board for dropdowns. Uses items_page and includes cursor when monday.com returns one.",
        "operationId": "ListMondayBoardItems",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMondayBoardItemsRequest"
            },
            "x-ms-summary": "List Board Items Request",
            "description": "List Board Items Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns items for a selected monday.com board for dropdowns. Uses items_page and includes cursor when monday.com returns one.",
            "schema": {
              "$ref": "#/definitions/MondayDropdownListResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/list-status-labels": {
      "post": {
        "summary": "List monday status labels",
        "description": "Returns configured labels for a selected status column by parsing the column settings_str returned by monday.com.",
        "operationId": "ListMondayStatusLabels",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMondayStatusLabelsRequest"
            },
            "x-ms-summary": "List Status Labels Request",
            "description": "List Status Labels Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns configured labels for a selected status column by parsing the column settings_str returned by monday.com.",
            "schema": {
              "$ref": "#/definitions/MondayDropdownListResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/change-date-column": {
      "post": {
        "summary": "Change monday date column",
        "description": "Friendly action that builds the monday.com date JSON value from Date and optional Time inputs, then calls change_column_value.",
        "operationId": "ChangeMondayDateColumn",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMondayDateColumnRequest"
            },
            "x-ms-summary": "Change Date Request",
            "description": "Change Date Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Friendly action that builds the monday.com date JSON value from Date and optional Time inputs, then calls change_column_value.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/change-text-column": {
      "post": {
        "summary": "Change monday text column",
        "description": "Friendly action that updates a monday.com text column without requiring makers to write JSON.",
        "operationId": "ChangeMondayTextColumn",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMondayTextColumnRequest"
            },
            "x-ms-summary": "Change Text Request",
            "description": "Change Text Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Friendly action that updates a monday.com text column without requiring makers to write JSON.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/change-number-column": {
      "post": {
        "summary": "Change monday number column",
        "description": "Friendly action that updates a monday.com number column without requiring makers to write JSON.",
        "operationId": "ChangeMondayNumberColumn",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMondayNumberColumnRequest"
            },
            "x-ms-summary": "Change Number Request",
            "description": "Change Number Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Friendly action that updates a monday.com number column without requiring makers to write JSON.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/create-subitem": {
      "post": {
        "summary": "Create monday subitem",
        "description": "Creates a subitem under a monday.com parent item. Optional columnValues is a monday-compatible JSON string.",
        "operationId": "CreateMondaySubitem",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMondaySubitemRequest"
            },
            "x-ms-summary": "Create Subitem Request",
            "description": "Create Subitem Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates a subitem under a monday.com parent item. Optional columnValues is a monday-compatible JSON string.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/get-subitems": {
      "post": {
        "summary": "Get monday subitems",
        "description": "Returns subitems for a monday.com parent item, including parent, board, and column values when available.",
        "operationId": "GetMondaySubitems",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMondaySubitemsRequest"
            },
            "x-ms-summary": "Get Subitems Request",
            "description": "Get Subitems Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns subitems for a monday.com parent item, including parent, board, and column values when available.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/get-subitem-details": {
      "post": {
        "summary": "Get monday subitem details",
        "description": "Returns details for a monday.com subitem. Subitems are monday.com items and use the item details query pattern.",
        "operationId": "GetMondaySubitemDetails",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMondaySubitemDetailsRequest"
            },
            "x-ms-summary": "Get Subitem Details Request",
            "description": "Get Subitem Details Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns details for a monday.com subitem. Subitems are monday.com items and use the item details query pattern.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/change-subitem-column-value": {
      "post": {
        "summary": "Change monday subitem column value",
        "description": "Changes any monday.com subitem column value using a monday-compatible JSON string. Classic boards may require the hidden subitems board ID; multi-level boards use the main board ID.",
        "operationId": "ChangeMondaySubitemColumnValue",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMondaySubitemColumnValueRequest"
            },
            "x-ms-summary": "Change Subitem Column Value Request",
            "description": "Change Subitem Column Value Request"
          }
        ],
        "responses": {
          "200": {
            "description": "Changes any monday.com subitem column value using a monday-compatible JSON string. Classic boards may require the hidden subitems board ID; multi-level boards use the main board ID.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "GetMondayItemDetailsRequest": {
      "type": "object",
      "description": "Input for the Get monday item details action.",
      "required": [
        "itemId"
      ],
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The monday item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Item ID"
        }
      },
      "additionalProperties": false
    },
    "GetMondayItemColumnValueRequest": {
      "type": "object",
      "description": "Input for the Get monday item column value action.",
      "required": [
        "itemId",
        "columnId"
      ],
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The monday item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The monday column ID, not the display name. Use List monday board columns to find it.",
          "x-ms-summary": "Column ID"
        }
      },
      "additionalProperties": false
    },
    "GetMondayItemDetailsResponse": {
      "type": "object",
      "description": "Flattened response for the Get monday item details action. It exposes stable item, board, group, parent item, and readable column value fields as direct dynamic content and keeps the raw dynamic board column values JSON for troubleshooting.",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "True when monday.com returned an item; false when monday.com returned errors, non-JSON content, or no accessible item.",
          "x-ms-summary": "Success"
        },
        "message": {
          "type": "string",
          "description": "Human-readable result message, such as Item found, the monday.com error text, or an item-not-found/access message.",
          "x-ms-summary": "Message"
        },
        "itemId": {
          "type": "string",
          "description": "The requested monday item ID, or the item ID returned by monday.com when an item is found.",
          "x-ms-summary": "Item ID"
        },
        "itemName": {
          "type": "string",
          "description": "The name of the monday.com item when an item is found.",
          "x-ms-summary": "Item Name"
        },
        "boardId": {
          "type": "string",
          "description": "The ID of the monday.com board that contains the item when monday.com returns board details.",
          "x-ms-summary": "Board ID"
        },
        "boardName": {
          "type": "string",
          "description": "The name of the monday.com board that contains the item when monday.com returns board details.",
          "x-ms-summary": "Board Name"
        },
        "groupId": {
          "type": "string",
          "description": "The ID of the group that contains the item when monday.com returns group details.",
          "x-ms-summary": "Group ID"
        },
        "groupName": {
          "type": "string",
          "description": "The name/title of the group that contains the item when monday.com returns group details.",
          "x-ms-summary": "Group Name"
        },
        "parentItemId": {
          "type": "string",
          "description": "The parent item ID when the item is a subitem; otherwise this field is blank or null.",
          "x-ms-summary": "Parent Item ID"
        },
        "parentItemName": {
          "type": "string",
          "description": "The parent item name when the item is a subitem; otherwise this field is blank or null.",
          "x-ms-summary": "Parent Item Name"
        },
        "columnValues": {
          "type": "array",
          "description": "Readable monday.com board column values for the item. Each entry includes the column ID, display title, column type, text value, and raw value JSON string so makers can use column values without Parse JSON.",
          "x-ms-summary": "Column Values",
          "items": {
            "$ref": "#/definitions/MondayColumnValueSummary"
          }
        },
        "columnValuesTextSummary": {
          "type": "string",
          "description": "Plain-text summary of readable monday.com column titles and values, with one Column: Value pair per line. Use this directly in plain-text email bodies or Teams messages.",
          "x-ms-summary": "Column Values Text Summary"
        },
        "columnValuesHtmlTable": {
          "type": "string",
          "description": "Simple HTML table of readable monday.com column titles and values. Values are HTML encoded so this can be used directly in a Send email action HTML body.",
          "x-ms-summary": "Column Values HTML Table"
        },
        "columnValuesJson": {
          "type": "string",
          "description": "Compact JSON string containing the monday.com column_values array. This remains JSON because board columns and their value shapes are dynamic by board.",
          "x-ms-summary": "Column Values JSON"
        },
        "rawResponseJson": {
          "type": "string",
          "description": "Compact JSON string containing the full monday.com response, or the raw non-JSON response text if monday.com did not return JSON.",
          "x-ms-summary": "Raw Response JSON"
        }
      },
      "additionalProperties": false
    },
    "MondayColumnValueSummary": {
      "type": "object",
      "description": "Readable summary for one monday.com item column value.",
      "properties": {
        "columnId": {
          "type": "string",
          "description": "The monday column ID.",
          "x-ms-summary": "Column ID"
        },
        "columnTitle": {
          "type": "string",
          "description": "The display title of the monday column when available.",
          "x-ms-summary": "Column Title"
        },
        "columnType": {
          "type": "string",
          "description": "The monday column type when available.",
          "x-ms-summary": "Column Type"
        },
        "text": {
          "type": "string",
          "description": "The readable text value returned by monday.com for this column.",
          "x-ms-summary": "Column Text"
        },
        "valueJson": {
          "type": "string",
          "description": "The compact raw JSON value returned by monday.com for this column, as a string.",
          "x-ms-summary": "Column Value JSON"
        }
      },
      "additionalProperties": false
    },
    "GetMondayItemColumnValueResponse": {
      "type": "object",
      "description": "Response for the Get monday item column value action. It returns one requested column with friendly dynamic content plus raw JSON for troubleshooting.",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "True when the item and requested column were found; false when monday.com returned errors, no accessible item, or the column was not found.",
          "x-ms-summary": "Success"
        },
        "message": {
          "type": "string",
          "description": "Human-readable result message, including helpful not-found details when the requested column is not available.",
          "x-ms-summary": "Message"
        },
        "itemId": {
          "type": "string",
          "description": "The requested monday item ID, or the item ID returned by monday.com when an item is found.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The requested monday column ID.",
          "x-ms-summary": "Column ID"
        },
        "columnTitle": {
          "type": "string",
          "description": "The display title of the requested monday column when available.",
          "x-ms-summary": "Column Title"
        },
        "columnType": {
          "type": "string",
          "description": "The monday column type when available.",
          "x-ms-summary": "Column Type"
        },
        "columnText": {
          "type": "string",
          "description": "The readable text value returned by monday.com for the requested column.",
          "x-ms-summary": "Column Text"
        },
        "columnValueJson": {
          "type": "string",
          "description": "The compact raw JSON value returned by monday.com for the requested column, as a string.",
          "x-ms-summary": "Column Value JSON"
        },
        "rawColumnJson": {
          "type": "string",
          "description": "Compact JSON string containing the full monday.com column_values object for the requested column.",
          "x-ms-summary": "Raw Column JSON"
        },
        "rawResponseJson": {
          "type": "string",
          "description": "Compact JSON string containing the full monday.com response, or the raw non-JSON response text if monday.com did not return JSON.",
          "x-ms-summary": "Raw Response JSON"
        }
      },
      "additionalProperties": false
    },
    "CreateMondayItemUpdateRequest": {
      "type": "object",
      "description": "Input for the Create monday item update/comment action.",
      "required": [
        "itemId",
        "updateText"
      ],
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The monday item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Item ID"
        },
        "updateText": {
          "type": "string",
          "description": "Text to add as an update/comment on the monday item.",
          "x-ms-summary": "Update Text"
        }
      },
      "additionalProperties": false
    },
    "ChangeMondayStatusRequest": {
      "type": "object",
      "description": "Input for the Change monday status column action.",
      "required": [
        "boardId",
        "itemId",
        "label"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "itemId": {
          "type": "string",
          "description": "The monday item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The monday column ID, not the display name. Use List monday board columns to find it.",
          "x-ms-summary": "Column ID",
          "default": "status"
        },
        "label": {
          "type": "string",
          "description": "The visible status label, such as Done or Working on it.",
          "x-ms-summary": "Status Label"
        }
      },
      "additionalProperties": false
    },
    "ChangeMondayColumnValueRequest": {
      "type": "object",
      "description": "Input for the Change monday column value action.",
      "required": [
        "boardId",
        "itemId",
        "columnId",
        "value"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "itemId": {
          "type": "string",
          "description": "The monday item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The monday column ID, not the display name. Use List monday board columns to find it.",
          "x-ms-summary": "Column ID"
        },
        "value": {
          "type": "string",
          "description": "Advanced monday-compatible JSON value. Use typed actions such as Change monday date, text, number, or status when possible.",
          "x-ms-summary": "Column Value JSON"
        }
      },
      "additionalProperties": false
    },
    "CreateMondayItemRequest": {
      "type": "object",
      "description": "Input for the Create monday item action.",
      "required": [
        "boardId",
        "itemName"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "itemName": {
          "type": "string",
          "description": "The name of the new monday.com item.",
          "x-ms-summary": "Item name"
        },
        "groupId": {
          "type": "string",
          "description": "The monday group ID. Use List monday board groups to find it.",
          "x-ms-summary": "Group ID"
        },
        "columnValues": {
          "type": "string",
          "description": "Optional monday-compatible JSON string for initial column values, for example {\"status\":{\"label\":\"Working on it\"}}.",
          "x-ms-summary": "Column Values JSON"
        }
      },
      "additionalProperties": false
    },
    "MondayGraphQlResponse": {
      "type": "object",
      "description": "Raw monday.com GraphQL response. Successful GraphQL calls return data; GraphQL validation or execution problems may return errors.",
      "properties": {
        "data": {
          "type": "object",
          "description": "Raw monday.com GraphQL data object.",
          "additionalProperties": {}
        },
        "errors": {
          "type": "array",
          "description": "Raw monday.com GraphQL errors array, when monday.com returns GraphQL errors.",
          "items": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "additionalProperties": {}
    },
    "ConnectorValidationError": {
      "type": "object",
      "description": "Validation error returned by connector custom code before the request is forwarded.",
      "properties": {
        "error": {
          "type": "string",
          "description": "Short validation error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable validation message."
        }
      },
      "additionalProperties": false
    },
    "ListMondayWorkspacesRequest": {
      "type": "object",
      "description": "Input for listing monday.com workspaces for dropdowns.",
      "properties": {},
      "additionalProperties": false
    },
    "ListMondayBoardsRequest": {
      "type": "object",
      "description": "Input for listing monday.com boards for dropdowns.",
      "properties": {
        "workspaceId": {
          "type": "string",
          "description": "Optional workspace ID used to filter the returned boards.",
          "x-ms-summary": "Workspace ID"
        }
      },
      "additionalProperties": false
    },
    "ListMondayBoardGroupsRequest": {
      "type": "object",
      "description": "Input for listing groups on a monday.com board.",
      "required": [
        "boardId"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        }
      },
      "additionalProperties": false
    },
    "ListMondayBoardColumnsRequest": {
      "type": "object",
      "description": "Input for listing columns on a monday.com board.",
      "required": [
        "boardId"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "columnType": {
          "type": "string",
          "description": "Optional monday.com column type filter such as status, date, text, numbers, or subitems.",
          "x-ms-summary": "Column type"
        }
      },
      "additionalProperties": false
    },
    "ListMondayBoardItemsRequest": {
      "type": "object",
      "description": "Input for listing items on a monday.com board.",
      "required": [
        "boardId"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of items to return. Defaults to 100; maximum is 500.",
          "x-ms-summary": "Limit",
          "default": 100,
          "minimum": 1,
          "maximum": 500
        }
      },
      "additionalProperties": false
    },
    "ListMondayStatusLabelsRequest": {
      "type": "object",
      "description": "Input for listing labels configured on a monday.com status column.",
      "required": [
        "boardId",
        "columnId"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "columnId": {
          "type": "string",
          "description": "The monday column ID, not the display name. Use List monday board columns to find it.",
          "x-ms-summary": "Column ID"
        }
      },
      "additionalProperties": false
    },
    "ChangeMondayDateColumnRequest": {
      "type": "object",
      "description": "Input for the friendly typed date column update action.",
      "required": [
        "boardId",
        "itemId",
        "columnId",
        "date"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "itemId": {
          "type": "string",
          "description": "The monday item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The monday column ID, not the display name. Use List monday board columns to find it.",
          "x-ms-summary": "Column ID"
        },
        "date": {
          "type": "string",
          "description": "Date value in yyyy-MM-dd format.",
          "x-ms-summary": "Date",
          "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
        },
        "time": {
          "type": "string",
          "description": "Optional time value in HH:mm format.",
          "x-ms-summary": "Time",
          "pattern": "^\\d{2}:\\d{2}$"
        }
      },
      "additionalProperties": false
    },
    "ChangeMondayTextColumnRequest": {
      "type": "object",
      "description": "Input for the friendly typed text column update action.",
      "required": [
        "boardId",
        "itemId",
        "columnId",
        "text"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "itemId": {
          "type": "string",
          "description": "The monday item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The monday column ID, not the display name. Use List monday board columns to find it.",
          "x-ms-summary": "Column ID"
        },
        "text": {
          "type": "string",
          "description": "Text value to set in the selected text column.",
          "x-ms-summary": "Text"
        }
      },
      "additionalProperties": false
    },
    "ChangeMondayNumberColumnRequest": {
      "type": "object",
      "description": "Input for the friendly typed number column update action.",
      "required": [
        "boardId",
        "itemId",
        "columnId",
        "number"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "itemId": {
          "type": "string",
          "description": "The monday item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The monday column ID, not the display name. Use List monday board columns to find it.",
          "x-ms-summary": "Column ID"
        },
        "number": {
          "type": "number",
          "format": "double",
          "description": "Numeric value to set in the selected number column.",
          "x-ms-summary": "Number"
        }
      },
      "additionalProperties": false
    },
    "CreateMondaySubitemRequest": {
      "type": "object",
      "description": "Input for creating a monday.com subitem.",
      "required": [
        "parentItemId",
        "itemName"
      ],
      "properties": {
        "parentItemId": {
          "type": "string",
          "description": "The monday parent item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Parent Item ID"
        },
        "itemName": {
          "type": "string",
          "description": "The name of the new subitem.",
          "x-ms-summary": "Subitem name"
        },
        "columnValues": {
          "type": "string",
          "description": "Optional monday-compatible JSON string for initial subitem column values.",
          "x-ms-summary": "Column Values JSON"
        }
      },
      "additionalProperties": false
    },
    "GetMondaySubitemsRequest": {
      "type": "object",
      "description": "Input for retrieving subitems for a monday.com item.",
      "required": [
        "parentItemId"
      ],
      "properties": {
        "parentItemId": {
          "type": "string",
          "description": "The monday parent item ID. This may appear as pulseId in webhook payloads.",
          "x-ms-summary": "Parent Item ID"
        }
      },
      "additionalProperties": false
    },
    "GetMondaySubitemDetailsRequest": {
      "type": "object",
      "description": "Input for retrieving details for a monday.com subitem.",
      "required": [
        "subitemId"
      ],
      "properties": {
        "subitemId": {
          "type": "string",
          "description": "The monday subitem item ID. Subitems are monday items too.",
          "x-ms-summary": "Subitem ID"
        }
      },
      "additionalProperties": false
    },
    "ChangeMondaySubitemColumnValueRequest": {
      "type": "object",
      "description": "Input for changing a subitem column value.",
      "required": [
        "boardId",
        "subitemId",
        "columnId",
        "value"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday board ID. Use List monday boards or copy it from the board URL.",
          "x-ms-summary": "Board ID"
        },
        "subitemId": {
          "type": "string",
          "description": "The monday subitem item ID. Subitems are monday items too.",
          "x-ms-summary": "Subitem ID"
        },
        "columnId": {
          "type": "string",
          "description": "The monday column ID, not the display name. Use List monday board columns to find it.",
          "x-ms-summary": "Column ID"
        },
        "value": {
          "type": "string",
          "description": "Advanced monday-compatible JSON value. Use typed actions such as Change monday date, text, number, or status when possible.",
          "x-ms-summary": "Column Value JSON"
        }
      },
      "additionalProperties": false
    },
    "MondayDropdownListResponse": {
      "type": "object",
      "description": "Array-friendly dropdown response returned by connector custom code for metadata actions.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Objects suitable for Power Platform dynamic dropdowns.",
          "items": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "cursor": {
          "type": "string",
          "description": "monday.com pagination cursor when available."
        },
        "raw": {
          "type": "object",
          "description": "Raw monday.com GraphQL response.",
          "additionalProperties": {}
        }
      },
      "additionalProperties": {}
    }
  }
}
