{
  "swagger": "2.0",
  "info": {
    "title": "LV_monday_com_Actions",
    "description": "Power Automate custom connector for friendly monday.com actions. Public actions use distinct paths and custom connector code rewrites each request to the monday.com GraphQL endpoint.",
    "version": "2.0.0"
  },
  "host": "api.monday.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Enter your monday.com API token when creating the connector connection. The token is supplied by Power Automate in the Authorization header and is not hard-coded or stored in this file."
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/get-item-details": {
      "post": {
        "summary": "Get monday item details",
        "description": "Returns the item id, item name, board details, group details, and column values for a monday.com item.",
        "operationId": "GetMondayItemDetails",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMondayItemDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing item details.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/create-update": {
      "post": {
        "summary": "Create monday item update/comment",
        "description": "Creates an update/comment on a monday.com item.",
        "operationId": "CreateMondayItemUpdate",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMondayItemUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing the created update id.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/change-status": {
      "post": {
        "summary": "Change monday status column",
        "description": "Changes a monday.com status column by friendly label. If Column ID is blank, the connector uses the default monday status column id: status.",
        "operationId": "ChangeMondayStatus",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMondayStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing the updated item id.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/change-column-value": {
      "post": {
        "summary": "Change monday column value",
        "description": "Changes any monday.com column value using a monday-compatible JSON string for the target column type.",
        "operationId": "ChangeMondayColumnValue",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMondayColumnValueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing the updated item id.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    },
    "/create-item": {
      "post": {
        "summary": "Create monday item",
        "description": "Creates a monday.com item, optionally in a specific group and with monday-compatible column values JSON.",
        "operationId": "CreateMondayItem",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMondayItemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "monday.com GraphQL response containing the created item.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          },
          "400": {
            "description": "Validation error returned by the connector script before forwarding to monday.com.",
            "schema": {
              "$ref": "#/definitions/ConnectorValidationError"
            }
          },
          "default": {
            "description": "monday.com GraphQL or HTTP error response.",
            "schema": {
              "$ref": "#/definitions/MondayGraphQlResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "GetMondayItemDetailsRequest": {
      "type": "object",
      "description": "Input for the Get monday item details action.",
      "required": [
        "itemId"
      ],
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The monday.com item ID to retrieve.",
          "x-ms-summary": "Item ID"
        }
      },
      "additionalProperties": false
    },
    "CreateMondayItemUpdateRequest": {
      "type": "object",
      "description": "Input for the Create monday item update/comment action.",
      "required": [
        "itemId",
        "body"
      ],
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The monday.com item ID to comment on.",
          "x-ms-summary": "Item ID"
        },
        "body": {
          "type": "string",
          "description": "The update/comment text to add to the item.",
          "x-ms-summary": "Update body"
        }
      },
      "additionalProperties": false
    },
    "ChangeMondayStatusRequest": {
      "type": "object",
      "description": "Input for the Change monday status column action.",
      "required": [
        "boardId",
        "itemId",
        "label"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday.com board ID containing the item.",
          "x-ms-summary": "Board ID"
        },
        "itemId": {
          "type": "string",
          "description": "The monday.com item ID to update.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The status column ID. Leave blank to use status.",
          "x-ms-summary": "Status column ID",
          "default": "status"
        },
        "label": {
          "type": "string",
          "description": "The status label to set, such as Done or Working on it.",
          "x-ms-summary": "Status label"
        }
      },
      "additionalProperties": false
    },
    "ChangeMondayColumnValueRequest": {
      "type": "object",
      "description": "Input for the Change monday column value action.",
      "required": [
        "boardId",
        "itemId",
        "columnId",
        "value"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday.com board ID containing the item.",
          "x-ms-summary": "Board ID"
        },
        "itemId": {
          "type": "string",
          "description": "The monday.com item ID to update.",
          "x-ms-summary": "Item ID"
        },
        "columnId": {
          "type": "string",
          "description": "The column ID to update.",
          "x-ms-summary": "Column ID"
        },
        "value": {
          "type": "string",
          "description": "A monday-compatible JSON string for the column value, for example {\"text\":\"Example\"}.",
          "x-ms-summary": "Column value JSON"
        }
      },
      "additionalProperties": false
    },
    "CreateMondayItemRequest": {
      "type": "object",
      "description": "Input for the Create monday item action.",
      "required": [
        "boardId",
        "itemName"
      ],
      "properties": {
        "boardId": {
          "type": "string",
          "description": "The monday.com board ID where the item should be created.",
          "x-ms-summary": "Board ID"
        },
        "itemName": {
          "type": "string",
          "description": "The name of the new monday.com item.",
          "x-ms-summary": "Item name"
        },
        "groupId": {
          "type": "string",
          "description": "Optional monday.com group ID where the item should be created.",
          "x-ms-summary": "Group ID"
        },
        "columnValues": {
          "type": "string",
          "description": "Optional monday-compatible JSON string for initial column values, for example {\"status\":{\"label\":\"Working on it\"}}.",
          "x-ms-summary": "Column values JSON"
        }
      },
      "additionalProperties": false
    },
    "MondayGraphQlResponse": {
      "type": "object",
      "description": "Raw monday.com GraphQL response. Successful GraphQL calls return data; GraphQL validation or execution problems may return errors.",
      "properties": {
        "data": {
          "type": "object",
          "description": "Raw monday.com GraphQL data object.",
          "additionalProperties": {}
        },
        "errors": {
          "type": "array",
          "description": "Raw monday.com GraphQL errors array, when monday.com returns GraphQL errors.",
          "items": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "additionalProperties": {}
    },
    "ConnectorValidationError": {
      "type": "object",
      "description": "Validation error returned by connector custom code before the request is forwarded.",
      "properties": {
        "error": {
          "type": "string",
          "description": "Short validation error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable validation message."
        }
      },
      "additionalProperties": false
    }
  }
}
